<!-- Launches Kobuki Gazebo simulation in an empty world with a hokuyo laser-->
<launch>
  <!-- start Gazebo with an empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <!--<arg name="world_name" value="$(find kobuki_gazebo)/worlds/empty.world"/>-->
    <arg name="world_name" value="$(find tfg_jonathan_gines)/prueba.world"/>-->
  </include>
  
  <!-- spawn the robot -->
  <arg name="robot_name" value="robot"/>
  <param name="robot_description"
        command="$(find xacro)/xacro.py '$(find tfg_jonathan_gines)/robot/kobuki_hokuyo_model.urdf.xacro'"/>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_$(arg robot_name)" 
        args="-x -1.5 -y 1.0 -z 0.0 -unpause -urdf -param robot_description -model $(arg robot_name)" respawn="false">
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <node name="forces_node"  pkg="tfg_jonathan_gines" type="forces_node" output="screen" />
  <node name="navigation_node"  pkg="tfg_jonathan_gines" type="navigation_node" output="screen" />

</launch>